<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="stylesheets/core.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>Fruits Boxes</title>
    </head>
    <body>
        <div id="app">
            <div class="menu" v-show="!isGameOngoing">            
                <h1 class="loading-text">Loading...</h1>
                <h1>Fruits Boxes</h1>
                <h4><i>Inspired by Fruit Box, by GameSaien</i></h4>
                <table>
                    <tr>
                        <td>Types of fruits:</td>
                        <td>
                            <select v-model="inputs.fruitTypes" class="menu-options fruit-types">
                                <option v-for="i in 4">{{i}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Number of rows:</td>
                        <td>
                            <input class="menu-options row-count" v-model="inputs.rowCount" placeholder="Default: 10">
                        </td>
                    </tr>
                    <tr>
                        <td>Number of columns (>=1):</td>
                        <td>
                            <input class="menu-options column-count" v-model="inputs.columnCount" placeholder="Default: 17">
                        </td>
                    </tr>
                    <tr>
                        <td>Time limit (>=1):</td>
                        <td>
                            <input class="menu-options time-limit" v-model="inputs.timeLimit" placeholder="Default: 120">
                        </td>
                    </tr>
                    <tr>
                        <td>Target sum (>=10):</td>
                        <td>
                            <input class="menu-options target-sum" v-model="inputs.sumRequirement" placeholder="Default: 10">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter seed (Integer, -1 for random):</td>
                        <td>
                            <input class="menu-options seed-number" v-model="inputs.seed" placeholder="Default: -1">
                        </td>
                    </tr>
                    <tr>
                        <td>Bonus for clearing multiple fruit types:</td>
                        <td>
                            <input class="menu-options combo-scoring" v-model="inputs.comboScoring" type="checkbox"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>Weighted distribution of number (More 1-4s):</td>
                        <td>
                            <input class="menu-options weighted-number" v-model="inputs.weightedNumber" type="checkbox"></input>
                        </td>
                    </tr>
                </table>
                <button @click="playGame" :disabled="!allInputValid">Play Game</button>
            </div>
            <div class="game" v-show="isGameOngoing">
                <header>
                    <div class="header-info">
                        <span>Score: {{score}}</span>
                        <span>Seed: {{gameSeed}}</span>
                        <span>Target Sum: {{parsedInputs.sumRequirement}}</span>
                        <span>Combo Scoring {{parsedInputs.comboScoring ? "On" : "Off"}},
                              {{parsedInputs.weightedNumber ? "Weighted" : "Unweighted"}}</span>
                        <span>Time Remaining: {{timer.toFixed(1)}} / {{parsedInputs.timeLimit.toFixed(1)}}s</span>
                    </div>
                    <div class="header-functions">
                        <button v-if="!isGameEnded" @click="timer = 0">Forfeit</button>
                        <button @click="() => {stopGame(); isGameOngoing = false}">Back to Menu</button>
                    </div>
                </header>
                <div class="game-field">
                    <progress-bar :progress="timerProgress" class="timer"></progress-bar>
                    <table>
                        <tr v-for="(row, i) in grid">
                            <td v-for="(fruit, j) in row">
                                <fruit-component :src="fruit.src"
                                                :box="mousePos"
                                                :deleted="fruit.val == null"
                                                :key="reloadKey"
                                                @change="state => updateSelectedState(i, j, state)">{{fruit.val}}</fruit-component>
                            </td>
                        </tr>
                    </table>
                    <canvas id="selection-box-canvas"></canvas>
                </div>
            </div>
        </div>
    </body>
    <script src="javascripts/lib/random.js"></script>
    <script src="javascripts/lib/vue.min.js"></script>
    <script src="javascripts/class/Fruit.js"></script>
    <script src="javascripts/component/progress-bar.js"></script>
    <script src="javascripts/component/fruit-component.js"></script>
    <script src="javascripts/util.js"></script>
    <script src="javascripts/init.js"></script>
    <script src="javascripts/index.js"></script>
</html>