<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="stylesheets/core.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>Fruits Boxes</title>
    </head>
    <body>
        <div id="app">
            <div class="menu" v-show="!isGameOngoing">            
                <h1 class="loading-text">Loading...</h1>
                <h1>Fruits Boxes</h1>
                <h4><i>Inspired by Fruit Box, by GameSaien</i></h4>
                <table>
                    <tr>
                        <td>Types of fruits:</td>
                        <td>
                            <select v-model="inputs.fruitTypes" class="menu-options fruit-types">
                                <option v-for="i in 4">{{i}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Number of rows:</td>
                        <td>
                            <input class="menu-options row-count" v-model="inputs.rowCount" placeholder="Default: 10">
                        </td>
                    </tr>
                    <tr>
                        <td>Number of columns (>=1):</td>
                        <td>
                            <input class="menu-options column-count" v-model="inputs.columnCount" placeholder="Default: 17">
                        </td>
                    </tr>
                    <tr>
                        <td>Time limit (>=1):</td>
                        <td>
                            <input class="menu-options time-limit" v-model="inputs.timeLimit" placeholder="Default: 120">
                        </td>
                    </tr>
                    <tr>
                        <td>Target sum (>=10):</td>
                        <td>
                            <input class="menu-options target-sum" v-model="inputs.sumRequirement" placeholder="Default: 10">
                        </td>
                    </tr>
                    <tr>
                        <td>Enter seed (Integer, -1 for random):</td>
                        <td>
                            <input class="menu-options seed-number" v-model="inputs.seed" placeholder="Default: -1">
                        </td>
                    </tr>
                    <tr>
                        <td>Bonus for clearing multiple fruit types:</td>
                        <td>
                            <input class="menu-options combo-scoring" v-model="inputs.comboScoring" type="checkbox"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>Weighted distribution of number (More 1-4s):</td>
                        <td>
                            <input class="menu-options weighted-number" v-model="inputs.weightedNumber" type="checkbox"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>Special highlight for valid moves:</td>
                        <td>
                            <input class="menu-options highlight-help" v-model="inputs.highlightHelp" type="checkbox"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>BGM:</td>
                        <td>
                            <input class="menu-options bgm" v-model="inputs.bgm" type="checkbox"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>SFX:</td>
                        <td>
                            <input class="menu-options sfx" v-model="inputs.sfx" type="checkbox"></input>
                        </td>
                    </tr>
                </table>
                <button @click="startGame" :disabled="!allInputValid">Play Game</button>
            </div>
            <game-component v-show="isGameOngoing"
                            :settings="parsedInputs" 
                            :start-trigger="startGameTrigger"
                            @quit="exitGame"></game-component>
        </div>
    </body>
    <script src="javascripts/lib/random.js"></script>
    <script src="javascripts/lib/vue.js"></script>
    <script src="javascripts/class/Fruit.js"></script>
    <script src="javascripts/class/AudioLibrary.js"></script>

    <script src="javascripts/component/progress-bar.js"></script>
    <script src="javascripts/component/fruit-component.js"></script>
    <script src="javascripts/component/selection-box-canvas.js"></script>
    <script src="javascripts/component/game-component.js"></script>
    <script src="javascripts/util.js"></script>
    <script src="javascripts/index.js"></script>
</html>