body {
    margin: 0px;
    padding: 0px;
    background-color: lightgreen;
}

#app {
    
}

.game {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-field {
    position: relative;
}

.score {
    color: black;
}


table {
    margin: 0 auto;
}

#selection-box-canvas {
    position: absolute;
    top: 0;
    z-index: 200;
    background-color: #1f1e3330;
}

.component.fruit-component {
    position: relative;
}

.component.fruit-component img {
    width: 30px;
    height: 30px;
}

.component.fruit-component .fruit-value {
    font-weight: bold;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}